body {
    background-image: url("background.jpg");
    background-size:100%;
    backdrop-filter: blur(1px);
}
.calculator {
    width:300px;
    height:370px;
    background-color: gray;
    border-radius:10px;
    margin:auto;
    position:relative;
    top:25%;
}
.title {
    color:white;
    font-size:30px;
    font-family:cursive;
    text-align:center;
}
.result {
    width:200px;
    height:40px;
    color:black;
    font-size:30px;
    font-family:cursive;
    position:relative;
    left:-2px;
    overflow:auto;
}
.button {
    width:40px;
    height:40px;
    background-color:white;
    color:black;
    font-size:20px;
    font-family:cursive;
    border-radius:8px;
    border:none;
    position:relative;
    text-align:center;
    transition: all 0.3s;
}
.button:hover {
    transform: translateY(-5px);
    background-color:black;
    color:white;
    box-shadow: 3px 3px 2px white;
}
.button:active{
    transform: translateY(5px);
    background-color:white;
    box-shadow: 3px 3px 2px black;
}
.button2 {
    width:40px;
    height:40px;
    background-color:white;
    color:black;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:8px;
    border:none;
    position:relative;
    text-align:center;
    transition: all 0.3s;
}
.button2:hover {
    transform: translateY(-5px);
    background-color:black;
    color:white;
    box-shadow: 3px 3px 2px white;
}
.button2:active{
    transform: translateY(5px);
    background-color:white;
    box-shadow: 3px 3px 2px black;
}
.platformButton {
    width:150px;
    height:100px;
    background-color:gray;
    color:white;
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:12px;
    position:relative;
    transition: all 0.3s;
}
.platformButton:hover {
    transform: translateY(-10px);
    background-color: white;
    color:black;
}
.platformButton:active {
    transform: translateY(10px);
    color:white;
    background-color: black;
}